<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [1]:
# What is your name! print your name!
# Only use one print function

print("My Name is Ashutosh")

My Name is Ashutosh

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [2]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4

mukesh = 7
z = 6
rohan = 5
Longitude = 4

In [5]:
# print required variable
# output - 5
print(rohan)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [11]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"

ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
print(ur_last_name)
print(ur_age)
print(ur_weight)
print(ur_first_name)

manral
21
50.6
Mukesh

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [4]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
ur_age = 24
ur_weight = 60.58
ur_first_name = 'Vishal'
ur_last_name = 'bute'

print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [5]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print('ur_age:', ur_age)               
print('ur_weight:', ur_weight)         
print('ur_first_name:', ur_first_name) 
print('ur_last_name:', ur_last_name)

ur_age: 24
ur_weight: 60.58
ur_first_name: Vishal
ur_last_name: bute

In [6]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'
# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name
TrueOrFalse = (ur_last_name == ur_first_name)

print('TrueOrFalse:', TrueOrFalse)

TrueOrFalse: True

In [9]:
# define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [11]:
# Initialize variables [x,y,z,zz] with values
x = 7 ## x as 7 =>int ,
y = 77 ## y as 77 =>int,
z = 77.7 ## z as 77.7 => float,
zz = 'Hi' ## zz as 'Hi' => string
print(x,y,z,zz)

7 77 77.7 Hi

# **`Arithmetic Operators`**

In [12]:
# add x and z
add = x + z
print(add)

84.7

In [13]:
# subtract z and y
sub = z - y
print(sub)

0.7000000000000028

In [14]:
# Multiply x and z
mul = x * z
print(mul)

543.9

In [15]:
# Exponent (raise the power or times) x times z
expo = x ** z
print(expo)

4.614426248242042e+65

In [18]:
# division on x and z
div = x / z
divi = x // z 

print(div)
print(divi)

0.09009009009009009
0.0

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [19]:
# floor division(ignores decimal) on x and z (gives quotient)
divi = x // z
print(divi)

0.0

In [20]:
# Modulo(gives remainder) on x and z
remainder = x % z
print(remainder)

7.0

# **`Comparison Operators`**

In [21]:
# comapre and see if x is less then z
# can use '<' symbol
camp = x < z
print(camp)

True

In [22]:
# check the type of above comaprison where it says comapre and see if x is less then z
camp = x < z
print(camp)
print(type(camp))

True
<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [23]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
camp1 = x <= z
print(camp1)

True

In [24]:
# comapre and see if x equall to z
# can use '==' symbol
x == z

False

In [25]:
# comapre and see if x is greater than z
# can use '>' symbol
x > z

False

In [26]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x >= z

False

In [27]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
x != z

True

# **`Logical Operators`**

In [30]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True
campare = (108 == 108) and (21==21)
print(campare)

True

In [31]:
# how above condition can give False as output show all those conditions

# 1st condition
campare = (108 == 109) and (21==21)
print(campare)

# 2nd condition
campare = (108 == 108) and (21==22)
print(campare)

# 3rd condition
campare = (108 == 109) and (21==22)
print(campare)

False
False
False

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True

In [ ]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

In [32]:
# Compare if 108 is equal to 108 or 21 is equal to 11
result = (108 == 108) or (21 == 11)

# Print the result
print(result)

True

In [33]:
# Both conditions are false
result = (108 == 109) or (21 == 22)  # False or False = False

# Print the result
print(result)

False

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [34]:
# make variable with value as : money 100000

# see output of money > 2000
money = 100000
res = money > 2000
print(res)

True

In [35]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working

money = 10000

if money > 1000:
    print("You have enough money to buy the Data Science course")
else:
    print("You don't have enough money to buy the Data Science course")

You have enough money to buy the Data Science course

In [36]:
money = 500

if money > 1000:
    print("You have enough money to buy the Data Science course")
else:
    print("You don't have enough money to buy the Data Science course")

You don't have enough money to buy the Data Science course

In [41]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

test_score = 80

if test_score > 80:
    print("A grade")
elif test_score > 60 and test_score < 80:
    print("B grade")
else:
    print("Nothing for you")

Nothing for you

# **`Python Loops`**

In [43]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [44]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [45]:
# print 'I love sports' 10 times using for loop
for i in range(10):
    print("I Love Sports")

I Love Sports
I Love Sports
I Love Sports
I Love Sports
I Love Sports
I Love Sports
I Love Sports
I Love Sports
I Love Sports
I Love Sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [ ]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [46]:
# while loop

# save 0 in variable number

# print till 10 using while loop

number = 0

while number <= 10:
    print(number)
    number += 1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [49]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5

for num in range(10):
    print("the number is", num)

    if num == 5:
        break

the number is 0
the number is 1
the number is 2
the number is 3
the number is 4
the number is 5

# **`Continue Statement`**

In [ ]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5

In [51]:
for num in range(10):
    if num == 5:
        continue

    print("the number is:", num)

the number is: 0
the number is: 1
the number is: 2
the number is: 3
the number is: 4
the number is: 6
the number is: 7
the number is: 8
the number is: 9

# **`String Manipulation`**

In [ ]:
string_ = '' or "" or """ """

In [54]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"

string_variable = "We are creating next generation data science eco-system at CollegeRanker"
print(string_variable)

We are creating next generation data science eco-system at CollegeRanker

In [55]:
# Find length of string including spacesa

string_variable = "We are creating next generation data science eco-system at CollegeRanker"

len_of_string = len(string_variable)

print(len_of_string)

72

In [56]:
# Access characters in a string with indexing i.e string[0]
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

# Access characters in the string by index
first_character = string_variable[0]  # The first character (W)
fifth_character = string_variable[4]  # The fifth character (r)
last_character = string_variable[-1]  # The last character (r)

# Print the accessed characters
print("First character:", first_character)
print("Fifth character:", fifth_character)
print("Last character:", last_character)

First character: W
Fifth character: r
Last character: r

In [57]:
# Access characters with negative indexing i.e string[-1]

# Define the string variable
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

# Access characters using negative indexing
last_character = string_variable[-1]  # The last character (r)
second_last_character = string_variable[-2]  # The second-to-last character (e)
third_last_character = string_variable[-3]  # The third-to-last character (r)

# Print the accessed characters
print("Last character:", last_character)
print("Second last character:", second_last_character)
print("Third last character:", third_last_character)

Last character: r
Second last character: e
Third last character: k

# String Slicing

In [58]:
# select string from first to 6th element i.e string[:6]

# Define the string variable
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

# Select string from first to 6th element
substring = string_variable[:6]

# Print the substring
print(substring)

We are

In [59]:
# select string from 7th to negative 10th element i.e string[7:-10]

# Define the string variable
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

# Select string from 7th to negative 10th element
substring = string_variable[7:-10]

# Print the substring
print(substring)

creating next generation data science eco-system at Col

Count of a particular `character` in a string

In [60]:

# Define the string variable
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

# Count occurrences of a particular character (e.g., 'e')
count_of_e = string_variable.count('e')

# Print the count
print("The character 'e' appears", count_of_e, "times.")

The character 'e' appears 13 times.

Count of a particular `sub-string` in a string

In [61]:
# Define the string variable
string_variable = "We are creating next generation data science eco-system at CollegeRanker. Data science is amazing."

# Count occurrences of a particular substring (e.g., 'data science')
count_of_substring = string_variable.count('data science')

# Print the count
print("The substring 'data science' appears", count_of_substring, "times.")

The substring 'data science' appears 1 times.

Find a substring in string using `find` and `index` function

In [62]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error

# Define the string variable
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

# Use .find() to find the index of a substring
find_result = string_variable.find('data science')

# Use .index() to find the index of a substring
try:
    index_result = string_variable.index('data science')
except ValueError:
    index_result = "Substring not found"

# Print results
print("Using .find():", find_result)
print("Using .index():", index_result)

# Example when the substring is not found
find_result_not_found = string_variable.find('Python')
index_result_not_found = "Substring not found"
try:
    index_result_not_found = string_variable.index('Python')
except ValueError:
    index_result_not_found = "Substring not found"

print("Using .find() when not found:", find_result_not_found)
print("Using .index() when not found:", index_result_not_found)

Using .find(): 32
Using .index(): 32
Using .find() when not found: -1
Using .index() when not found: Substring not found

In [63]:
### Checking whether string `startswith` or `endswith` a particular substring or not

# Define the string variable
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

# Check if the string starts with a particular substring
startswith_result = string_variable.startswith('We are')

# Check if the string ends with a particular substring
endswith_result = string_variable.endswith('Ranker')

# Print results
print("Does the string start with 'We are'?", startswith_result)
print("Does the string end with 'Ranker'?", endswith_result)

# Example where substring is not at the start or end
startswith_result_not_found = string_variable.startswith('data science')
endswith_result_not_found = string_variable.endswith('data')

print("Does the string start with 'data science'?", startswith_result_not_found)
print("Does the string end with 'data'?", endswith_result_not_found)

Does the string start with 'We are'? True
Does the string end with 'Ranker'? True
Does the string start with 'data science'? False
Does the string end with 'data'? False

In [64]:
### Converting string to upper case ###

# Define the string variable
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

# Convert the string to uppercase
uppercase_string = string_variable.upper()

# Print the uppercase string
print(uppercase_string)

WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER

In [65]:
### Converting only first character of string to upper case

# Define the string variable
string_variable = "we are creating next generation data science eco-system at CollegeRanker"

# Convert only the first character to uppercase
capitalized_string = string_variable.capitalize()

# Print the capitalized string
print(capitalized_string)

We are creating next generation data science eco-system at collegeranker

In [66]:
### Checking if string is in lower case or upper case

# Define the string variables
string_lower = "we are creating next generation data science eco-system"
string_upper = "WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM"
string_mixed = "We are creating Next Generation Data Science Eco-System"

# Check if the strings are in lowercase
print("Is string_lower in lowercase?", string_lower.islower())
print("Is string_upper in lowercase?", string_upper.islower())
print("Is string_mixed in lowercase?", string_mixed.islower())

# Check if the strings are in uppercase
print("Is string_lower in uppercase?", string_lower.isupper())
print("Is string_upper in uppercase?", string_upper.isupper())
print("Is string_mixed in uppercase?", string_mixed.isupper())

Is string_lower in lowercase? True
Is string_upper in lowercase? False
Is string_mixed in lowercase? False
Is string_lower in uppercase? False
Is string_upper in uppercase? True
Is string_mixed in uppercase? False

In [67]:
### Checking if string is digit, alpabetic, alpha-numeric

# Define the string variables
string_digit = "123456"
string_alpha = "HelloWorld"
string_alphanumeric = "Hello123"
string_special_characters = "Hello@123"

# Check if the strings are digits
print("Is string_digit a digit?", string_digit.isdigit())
print("Is string_alpha a digit?", string_alpha.isdigit())
print("Is string_alphanumeric a digit?", string_alphanumeric.isdigit())

# Check if the strings are alphabetic
print("Is string_digit alphabetic?", string_digit.isalpha())
print("Is string_alpha alphabetic?", string_alpha.isalpha())
print("Is string_alphanumeric alphabetic?", string_alphanumeric.isalpha())

# Check if the strings are alphanumeric
print("Is string_digit alphanumeric?", string_digit.isalnum())
print("Is string_alpha alphanumeric?", string_alpha.isalnum())
print("Is string_alphanumeric alphanumeric?", string_alphanumeric.isalnum())
print("Is string_special_characters alphanumeric?", string_special_characters.isalnum())

Is string_digit a digit? True
Is string_alpha a digit? False
Is string_alphanumeric a digit? False
Is string_digit alphabetic? False
Is string_alpha alphabetic? True
Is string_alphanumeric alphabetic? False
Is string_digit alphanumeric? True
Is string_alpha alphanumeric? True
Is string_alphanumeric alphanumeric? True
Is string_special_characters alphanumeric? False

In [68]:
# assign "C++ is easy to learn" to a new_str variable

# Assign the string "C++ is easy to learn" to the variable new_str
new_str = "C++ is easy to learn"

# Print the new_str variable to check the assignment
new_str

'C++ is easy to learn'

In [69]:
### Replace C++ with Python

# Replace "C++" with "Python" in the new_str variable
new_str_replaced = new_str.replace("C++", "Python")

# Print the updated string
new_str_replaced

'Python is easy to learn'

In [70]:
### Use Split function on new_str ###

# Use the split function on new_str to split the string into a list of words
split_str = new_str.split()

# Print the resulting list after splitting
split_str

['C++', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [ ]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [72]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'

# Define a function welcome_message with a parameter 'name'
def welcome_message(name):
    print(f"Welcome to Functions, {name}!!!")

# Call the function with an example name
welcome_message("Alice")

Welcome to Functions, Alice!!!

In [73]:
# call a function with your name
# Define a function welcome_message with a parameter 'name'
def welcome_message(name):
    print(f"Welcome to Functions, {name}!!!")

# Call the function with an example name
welcome_message("Ashutosh")

Welcome to Functions, Ashutosh!!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [74]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable

# Define a function to add two numbers
def add_two_numbers(a, b):
    total = a + b
    print(total)

# Call the function with numbers 3 and 4
add_two_numbers(3, 4)

7

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [75]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number

def subtraction_function(small_number, large_number):
    difference = large_number - small_number
    return difference

# Example usage:
result = subtraction_function(5, 10)
print(result)  # Output will be 5

5

In [76]:
# pass arguments in right order

def subtraction_function(small_number, large_number):
    difference = large_number - small_number
    return difference

# Correctly passing arguments (small_number first, then large_number)
result = subtraction_function(5, 10)
print(result)  # Output will be 5

5

In [ ]:
# always pass arguments using there name(keyword arguments) then order does not matter

In [77]:
def subtraction_function(small_number, large_number):
    difference = large_number - small_number
    return difference

# Passing arguments using keyword arguments (order doesn't matter)
result = subtraction_function(small_number=5, large_number=10)
print(result)  # Output will be 5

# You can also pass the arguments in reverse order using keyword arguments
result_reverse = subtraction_function(large_number=10, small_number=5)
print(result_reverse)  # Output will also be 5

5
5

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [78]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [79]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [80]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function